.careers {
    margin-top: 120px;
    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    &__list-item {
        width: 100%;
        
    }
    &__list-inner {
            padding: 32px 64px 35px 40px;
            display: flex;
            justify-content: space-between;
            width: 100%;
            background-color: #F2F5F9;
        }

    &__item-left {
    }

    &__item-heading {
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
    }

    &__item-txt {
        font-size: 15px;
        line-height: 25px;
        color: #495567;
    }

    &__apply-btn {
        background: none;
        border: none;
        outline: none;
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        max-width: 180px;
        width: 100%;
        padding: 14px 0;
        background-color: $yellow;
        transition: all 0.4s ease;
        border: 2px solid $yellow;
        
        &:hover {
            color: $yellow;
            background-color: #FFFFFF;
        }
        
        &:active {
            transform: scale(0.9);
            color: $yellow;
            background-color: #FFFFFF;
        }
    }
}

@media only screen and (max-width: 650px) {
    .careers {
        margin-top: 120px;
        &__list {
            display: flex;
            flex-direction: column;
            gap: 24px;
            width: 100%;
        }
    
        &__list-item {
            width: 100%;
            
        }
        &__list-inner {
                padding: 36px 0 32px 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
                background-color: #F2F5F9;
            }
    
        &__item-left {
        }
    
        &__item-heading {
            margin-bottom: 4px;
            font-size: 18px;
            line-height: 24px;
            letter-spacing: -1.07143px;
            color: #495567;
            text-align: center;
        }
    
        &__item-txt {
            text-align: center;
            margin-bottom: 16px;
            font-size: 15px;
            line-height: 25px;
            color: #495567;
        }
    
        &__apply-btn {
            background: none;
            border: none;
            outline: none;
            font-family: 'Space Mono';
            font-weight: 700;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
            color: #FFFFFF;
            max-width: 250px;
            width: 100%;
            padding: 14px 0;
            background-color: $yellow;
            transition: all 0.4s ease;
            border: 2px solid $yellow;
            
            &:hover {
                color: $yellow;
                background-color: #FFFFFF;
            }
            
            &:active {
                transform: scale(0.9);
                color: $yellow;
                background-color: #FFFFFF;
            }
        }
    }
    
}