@mixin button {
    &__btn {
        margin-left: 32px;
        margin-bottom: 25px;
        background: none;
        border: none;
        outline: none;
        font-family: 'Space Mono';
        font-weight: 700;
        font-size: 15px;
        line-height: 25px;
        text-align: center;
        color: #FFFFFF;
        min-width: 180px;
        padding: 14px 0;
        background-color: $yellow;
        transition: all 0.4s ease;
        
        &:hover {
            color: $yellow;
            background-color: #FFFFFF;
            border: 2px solid $yellow;
        }
        
        &:active {
            transform: scale(0.9);
            color: $yellow;
            background-color: #FFFFFF;
            border: 2px solid $yellow;
        }
    }
    
}