.stage {
    margin-top: 160px;
    
    &__container {
    }
    
    &__inner-wrap {
    }
    
    &__list {
        position: relative;
        display: flex;
        align-items: center;
        gap: 30px;
        
        &::before {
            content: "";
            position: absolute;
            top: 42px;
            left: -19%;
            max-width: 973px;
            width: 100%;
            height: 0;
            border: 8px solid #E5ECF4;
            color: #E5ECF4;
        }
    }
    
    &__list-item {
        position: relative;
        max-width: 350px;
        width: 100%;
        height: 300px;
        
        &:first-child {
            &::before{
                background-image: url(/images/phone-logo.svg);
            }
        }
        &:nth-child(2) {
            &::before{
                background-image: url(/images/scooter-logo.svg);
            }
        }
        &:nth-child(3) {
            &::before{
                background-image: url(/images/rider-logo.svg);
            }
        }
        
        
        &::before {
            content: "";
            position: absolute;
            width: 96px;
            height: 96px;
            background-repeat: no-repeat;
            background-position: center;
            background-color: $yellow;
            border-radius: 50%;
        }
    }
    
    &__item-heading {
        margin-top: 136px;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: -1.07143px;
        color: #495567;
        margin-bottom: 27px;
    }
    
    &__item-txt {
        font-size: 15px;
        line-height: 25px;
        color: #939CAA;
    }
}

@media only screen and (max-width: 770px) {
    .stage {
        padding-bottom: 100px;
        padding-top: 0;
        
        &__container {
        }
        
        &__inner-wrap {
        }
        
        &__list {
            position: static;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            padding: 0 90px 0 150px;
            gap: 100px;
            
            &::before {
                content: "";
                display: none;
            }
        }
        
        &__list-item {
            position: relative;
            max-width: 350px;
            width: 100%;
            height: 130px;
            
            &:first-child {
                &::before{
                    background-image: url(/images/phone-logo.svg);
                }
                &::after {
                    content: "";
                    position: absolute;
                    top: -50%;
                    left: -118px;
                    width: 0;
                    height: 700px;
                    border: 8px solid #E5ECF4;
                    z-index: -999999;
                }
            }
            &:nth-child(2) {
                &::before{
                    background-image: url(/images/scooter-logo.svg);
                }
            }
            &:nth-child(3) {
                &::before{
                    background-image: url(/images/rider-logo.svg);
                }
                
                
            }
            
            
            &::before {
                content: "";
                position: absolute;
                top: 120%;
                left: -160px;
                width: 96px;
                height: 96px;
                background-repeat: no-repeat;
                background-position: center;
                background-color: $yellow;
                border-radius: 50%;
            }

            
        }
        
        &__item-heading {
            margin-top: 136px;
            font-weight: 700;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: -1.07143px;
            color: #495567;
            margin-bottom: 27px;
        }
        
        &__item-txt {
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }
    
}

@media only screen and (max-width: 515px) {
    .stage {
        padding-bottom: 100px;
        margin-top: 120px;
        
        &__container {
        }
        
        &__inner-wrap {
        }
        
        &__list {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            width: 100%;
            padding: 0 32px;
            gap: 100px;
            
            &::before {
                content: "";
                display: none;
            }
        }
        
        &__list-item {
            position: relative;
            max-width: 350px;
            width: 100%;
            height: 100%;
            
            &:first-child {
                &::before{
                    background-image: url(/images/phone-mob-logo.svg);
                }
                &::after {
                    display: none;
                }
            }
            &:nth-child(2) {
                &::before{
                    background-image: url(/images/scooter-mob-logo.svg);
                }
            }
            &:nth-child(3) {
                &::before{
                    background-image: url(/images/rider-mob-logo.svg);
                }
                
                
            }
            
            
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: calc(50% - 28px);
                width: 56px;
                height: 56px;
                background-repeat: no-repeat;
                background-position: center;
                background-color: $yellow;
                border-radius: 50%;
            }

            
        }
        
        &__item-heading {
            text-align: center;
            padding: 0; 
            font-weight: 700;
            font-size: 20px;
            line-height: 28px;
            letter-spacing: -1.07143px;
            color: #495567;
            margin: 0;
            padding-top: 80px;  
            margin-bottom: 24px;
        }
        
        &__item-txt {
            text-align: center; 
            font-size: 15px;
            line-height: 25px;
            color: #939CAA;
        }
    }

}